/* Estilos general */

/* Agregar margen superior a ambas columnas */
.col-md-3.bg-left {
    margin-top: 64px; /* Ajusta este valor según sea necesario */
}

.col-md-9.bg-white {
    margin-top: 32px; /* Ajusta este valor según sea necesario */
}



body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container-fluid {
    flex: 1;
}

h2 {
    font-weight: bold;
    font-size: 2rem;
    color: #333;
}

h4 {
    font-weight: bold;
    font-size: 1.5rem;
    color: #333;
}

h5 {
    font-weight: bold;
    font-size: 1.2rem;
    color: #333;
}

p {
    color: #555;
    font-size: 1rem;
}

label {
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
    background-color: #fff;
}

textarea {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #666;
}

ul.list-unstyled li {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #333;
}

ul.list-unstyled input[type="checkbox"] {
    margin-right: 10px;
}

.bg-left {
    background-color: #FFFCF2;
    height: 100vh;
}


/* Footer */
.footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    font-family: Arial, sans-serif;
}

.footer h4,
.footer h5 {
    font-weight: bold;
    color: #fff;
}

.footer p,
.footer li {
    color: #ccc;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer ul li a:hover {
    color: #fff;
}

.social-icons a {
    color: #fff;
    margin-right: 15px;
    font-size: 24px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #FFDE59;
}

/* Ajuste de los iconos sociales */
.social-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer .container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer p {
    margin: 0;
}

.footer .row {
    margin-bottom: 20px;
}

.footer .row.mt-4 {
    margin-top: 20px;
    border-top: 1px solid #555;
    padding-top: 20px;
}

.footer .col-md-6 {
    display: flex;
    align-items: center;
}

/* Estilo del contenedor negro con bordes redondeados */
.footer .row.mt-4 {
    background-color: #111;
    padding: 20px;
    border-radius: 10px;
}






/* Ajuste en pantallas más pequeñas */
@media (max-width: 768px) {
    .footer {
        text-align: center;
    }

    .social-icons {
        justify-content: center;
        margin-top: 20px;
    }

    .col-md-6 {
        text-align: center;
    }
}