
/* Nav */

/* Estilos para la columna izquierda */
.bg-left {
    background-color: #f7f7e7; /* Color de fondo vacío */
}

/* Estilos para el contenedor del formulario */
.form-container {
    width: 80%; /* Ancho del formulario */
    max-width: 400px; /* Máximo ancho */
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra */
    border-radius: 10px;
}

/* Botón personalizado para los proveedores */
.btn-light img {
    margin-right: 8px; /* Espacio entre el icono y el texto */
}

.btn-light {
    width: 100%;
    text-align: left;
    background-color: #f8f9fa;
    border-color: #e0e0e0;
}

/* Estilos del formulario */
form {
    margin-top: 20px;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5; /* Fondo claro general */
}

/* Centrado y espaciado */
.form-container h2 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.form-container p {
    text-align: center;
    font-size: 14px;
    color: #777;
}



/* Footer */
.footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    font-family: Arial, sans-serif;
}

.footer h4,
.footer h5 {
    font-weight: bold;
    color: #fff;
}

.footer p,
.footer li {
    color: #ccc;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer ul li a:hover {
    color: #fff;
}

.social-icons a {
    color: #fff;
    margin-right: 15px;
    font-size: 24px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #FFDE59;
}

/* Ajuste de los iconos sociales */
.social-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer .container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer p {
    margin: 0;
}

.footer .row {
    margin-bottom: 20px;
}

.footer .row.mt-4 {
    margin-top: 20px;
    border-top: 1px solid #555;
    padding-top: 20px;
}

.footer .col-md-6 {
    display: flex;
    align-items: center;
}

/* Estilo del contenedor negro con bordes redondeados */
.footer .row.mt-4 {
    background-color: #111;
    padding: 20px;
    border-radius: 10px;
}






/* Ajuste en pantallas más pequeñas */
@media (max-width: 768px) {
    .footer {
        text-align: center;
    }

    .social-icons {
        justify-content: center;
        margin-top: 20px;
    }

    .col-md-6 {
        text-align: center;
    }
}